

<!DOCTYPE html>
<html lang="en">
<head>
<title>Function Halls &amp; Booking</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body background="images/bg1.jpg" style="margin:0;">
<div id="layout">
  <div id="links"></div>
  <div id="header"></div>
  <div id="title">
    <div id="home" class="hometxt"><a href="#" class="hometxt">Home</a></div>
    <div id="reser" class="resertxt"><a href="#" class="resertxt">Function Halls</a></div>
    <div id="ser" class="sertxt"><a href="#" class="sertxt">About Us</a></div>
    <div id="menu" class="menutxt"><a href="#" class="menutxt">Contact Us</a></div>   
  </div>
  <div id="body">
    @RenderBody()
  </div>

  <div id="footer">
    <div id="foottxt">
      <div class="foottext">
        <p align="center">Copyright © 2007.Bed &amp; Breakfast. All Rights Reserved.</p>
      </div>
    </div>
  </div>

</div>
</body>
</html>

