<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hall Booking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="~/Content/Styles/layout.css" rel="stylesheet" />


    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.ui.min.js"></script>
    <script src="~/Scripts/jquery.defaultvalue.js"></script>

    @*<script src="~/Scripts/jquery.defaultvalue.js"></script>*@
    <script src="~/Scripts/jquery.scrollTo-min.js"></script>
    <script src="~/Scripts/jquery.ui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            // this will get the full URL at the address bar
            var url = window.location.href;

            // passes on every "a" tag
            $("#topnav a").each(function () {
                // checks if its the same on the address bar
                if (url == (this.href)) {
                    $(this).closest("li").addClass("active");
                }
                else {
                    $(this).closest("li").removeClass("active");
                }
            });
        });
    </script>

    <!-- End Homepage Only Scripts -->
</head>

<body id="top">
    <div class="wrapper col2">
        <div id="header" class="clear">
            <div class="fl_left">
                <h1><a href="~/Home/Home">Halls Registration</a></h1>
            </div>
            <div id="topnav">
                <ul>
                    @{
                        if (Session["User"] != null)
                        {
                            string id = Session["User"].ToString();
                            <li class="last">
                                <a href="/Agent/Users/RegisterUser">User</a>
                                <ul>
                                    <li><a href="/Agent/Users/Details?id=@id">Profile</a></li>
                                    <li><a href="#">Change Password</a></li>
                                    <li><a href="/Agent/Users/Edit?id=@id">Edit Profile</a></li>
                                    <li><a href="#">Booked Halls</a></li>
                                    <li class="last"><a href="/Agent/Users/Logout">Logout</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="last"><a href="/Agent/Users/RegisterUser">Login</a></li>
                        }
                    }
                    <li><a href="pages/portfolio.html">Contact Us</a></li>
                    <li><a href="pages/full-width.html">About Us</a></li>
                    <li><a href="pages/gallery.html">Halls Booking</a></li>
                    <li><a href="~/Agent/HallsReg/HallRegistration">Halls Registration</a></li>
                    <li><a href="/Halls/AllHalls/Halls">Halls</a></li>
                    <li class="active"><a href="~/Home/Home">Homepage</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper col4">
        <div id="container" class="clear">
            @RenderBody()
        </div>
    </div>
    <div class="wrapper">
        <div id="copyright" class="clear">
            <p>Copyright &copy; @DateTime.Now.Year - All Rights Reserved - <a href="#">Domain Name</a></p>
        </div>
    </div>
</body>
</html>