@{
    ViewBag.Title = "Forgotten Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="color:red;text-align:center">Forgotten Password</h3>
@{
    if (ViewBag.Message != null)
    {
        <h6 style="color:red;font-size:30px;text-align:center;">@ViewBag.Message</h6>
    }
    else
    {
        using (Html.BeginForm())
        {
            <table align="center" style="height:50%;width:50%" border="0">
                <tr>
                    <td>@Html.Label("Email", "Enter EmailId")</td>
                    <td>@Html.TextBox("Email")</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" id="submit" value="Submit" /></td>
                </tr>
            </table>
            if (ViewBag.Result != null)
            {
                <h6 style="color:red;font-size:20px;text-align:center;">@ViewBag.Result</h6>
            }
        }
    }
}
<script>
    $("h6").fadeOut(10000);
</script>